NEXT_PUBLIC_SITE_URL=https://blog.zairyx.com.br
BLOG_POSTS_PER_DAY=1
BLOG_MAX_PUBLISHED_POSTS=365
BLOG_ROTATION_ENABLED=true
BLOG_AI_PROVIDER=groq
BLOG_GROQ_MODEL=llama-3.3-70b-versatile
BLOG_GROQ_API_KEY=__PREENCHER_NA_VERCEL_DO_BLOG__
