.link {
  text-decoration: none;
}

.navLink {
  color: #e2e8f0;
}

.navLinkActive {
  color: #22d3ee;
}

.footerLink {
  color: #cbd5e1;
  margin-right: 0.7rem;
}

.footerLinkLast {
  color: #cbd5e1;
}
